div(class='scoreboard')
	table(class='table table-striped table-responsive')
		thead
			tr
				th #
				th Joukkue
				th O
				th V
				th T
				th H
				th TM
				th PM
				th ME
				th P
		tbody
			each value, i in data1
				- var goalsFor = data1[i].TeamGoalsFor
				- var goalsAgainst = data1[i].TeamGoalsAgainst
				- var goalDiff = goalsFor - goalsAgainst
				tr 
					td #{data1[i].RankingOrder}
					td #{data1[i].TeamName}
					td #{data1[i].TeamGames}
					td #{data1[i].TeamWins}
					td #{data1[i].TeamTies}
					td #{data1[i].TeamLosses}
					td #{data1[i].TeamGoalsFor}
					td #{data1[i].TeamGoalsAgainst}
					td= goalDiff
					td #{data1[i].TeamPoints}