div(class='scoreboard')
	table(class='table table-striped table-responsive')
		thead
			tr
				th #
				th Joukkue
				th O
				th V
				th T
				th H
				th TM
				th PM
				th ME
				th P
		tbody
			each value, i in data1
				tr 
					td #{data1[i].Ranking}
					td #{data1[i].TeamName}
					td #{data1[i].Games}
					td #{data1[i].Wins}
					td #{data1[i].Ties}
					td #{data1[i].Looses}
					td #{data1[i].GoalsFor}
					td #{data1[i].GoalsAgainst}
					td #{data1[i].GoalDiff}
					td #{data1[i].Points}