include includes/header.pug
h1 Otteluohjelma
body(id='bootstrap-override')
	div(class='container-fluid')
		input(id="filter" type="text" class="form-control" placeholder="Hae nimellä, joukkueella, jne.")
		div(class='schedule')
			table(class='table table-striped table-responsive')
				thead
					tr
						th Päivä
						th Aika
						th Paikka
						th Koti
						th Vieras
						th Tulos
				tbody(class="searchable")
					each value, i in data.games
						tr
							- var str = data.games[i].GameDate
							- var str2 = data.games[i].GameTime
							- var gameDate = str.substr(0,5);
							- var gameTime = str2.substr(0,5);
							- var homeGoals = data.games[i].HomeGoals
							- var awayGoals = data.games[i].AwayGoals
							- var result = homeGoals + ' - ' + awayGoals
							td= gameDate 
							td= gameTime
							td #{data.games[i].RinkName}
							td #{data.games[i].HomeTeamName}
							td #{data.games[i].AwayTeamName}
							td= result
	include includes/footer.pug
	script(src="js/main.js")