include includes/header.pug
h1 Pistepörssi
body(id='bootstrap-override')
	div(class='container-fluid')
		input(id="filter" type="text" class="form-control" placeholder="Hae nimellä, joukkueella, jne.")
		div(class='statistics')
			table(class='table table-striped table-responsive')
				thead
					tr
						th #
						th Nimi
						th Joukkue
						th O
						th M
						th S
						th P
				tbody(class="searchable")
					each value, i in data1
						tr
							td #{i + 1}
							td #{data1[i].PlayerName}
							td #{data1[i].PlayerTeams[0].TeamName}
							td #{data1[i].PlayerGames}
							td #{data1[i].PlayerGoals}
							td #{data1[i].PlayerAssists}
							td #{data1[i].PlayerPoints}
	include includes/footer.pug
	script(src="js/main.js")