include includes/header.pug
link(rel="stylesheet" href="/styles/pisteporssi.css" type="text/css")
h1 Pistepörssi
body(id='bootstrap-override')
	div(class='container-fluid')
		input(id="filter" type="text" class="form-control" placeholder="Hae nimellä, joukkueella, jne.")
		div(class='statistics')
			table(class='table table-striped table-responsive')
				thead
					tr
						th #
						th Nimi
						th Joukkue
						th O
						th M
						th S
						th P
				tbody(class="searchable")
					each value, i in data1
						tr
							td #{i + 1}
							td #{data1[i].PlayerName}
							td #{data1[i].TeamName}
							td #{data1[i].Games}
							td #{data1[i].Goals}
							td #{data1[i].Assists}
							td #{data1[i].Points}
	include includes/footer.pug
	script(src="js/main.js")
	script(src="js/pisteporssi.js")